<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Conociendo Cali</title>
</head>
<body>
    
    <main>
      {{>errors}}
      {{>messages}}
      {{{body}}}
    </main>
    
</body>
</html>