body{
    background: #161816;;
    
    }
    
    /* Ajustes para los elementos de navegación de la barra */
    .navbar-nav a {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
    
    }
    
    /* Estilos para el texto del logotipo en la barra de navegación */
    .navbar-dark .navbar-brand {
        color: #ffff;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    
    }
    
    /* Cambia el color del logotipo al hacer hover o focus */
    .navbar-light .navbar-brand:focus,
    .navbar-light .navbar-brand:hover {
        color: #000;
    }
    
    /* Ajustes para la altura de elementos con clase 'w-100' */
    
    .w-100 {
        height: 100vh;
    }
    
    /* Estilos para el botón de la barra de navegación */
    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
    }
    
    
    
    .carousel-caption p {
        font-size: 18px;
    }
    
    /* Agrega una sombra al texto para resaltarlo del carrusel*/
    .carousel-caption h5,
    .carousel-caption p {
        /* Cambia el color del texto */
        color: rgba(255, 255, 255, 1);
        /* Ajusta el tamaño de fuente */
        font-size: 24px;
        /* Permite ajustar la posición en el slide */
        position: absolute;
        /* Posiciona el texto verticalmente en el centro */
        margin-top: 50px;
        /* Posiciona el texto horizontalmente en el centro */
        left: 50%;
        /* Centra el texto correctamente */
        transform: translate(-50%, -50%);
        /* Alineación justificada del texto */
        text-align: justify;
        /* Espaciado uniforme entre palabras */
        text-justify: inter-word;
        /* Agrega sombra al texto de los slides */
        text-shadow: 3px 3px 10px rgba(255, 255, 255, 1);
        /* Ocupa todo el ancho del carrusel */
        width: 100%;
        /* Centra el texto horizontalmente */
        text-align: center;
    }
    
    /* Cambia el tipo de letra de las frases en los slides */
    .carousel-caption h5,
    .carousel-caption p {
        font-family: 'Times New Roman', Times, serif, sans-serif;
    }
    
    /* Ajusta la altura de los elementos de carrusel */
    .carousel-item {
        height: 90vh;
        min-height: 300px
    }
    
    /* Alinea los captions del carrusel */
    .carousel-caption {
        bottom: 200px;
        z-index: 2;
    }
    
    /* Estilo para el título en los captions del carrusel */
    .carousel-caption h5 {
        font-size: 45px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
    }
    /* Estilo para los párrafos en los captions del carrusel */
    .carousel-item img {
        filter: brightness(0.7); /* Puedes ajustar el valor según tus preferencias */
    }
    .text-light{
    color: var(--white); 
    margin-top: 4rem;
    }
    
    .justify-text {
        text-align: justify;
        text-justify: inter-word;
    }
    
    .bg-light{
        background-color: var(--white);
    }
    
    
    .accordion-item{
        max-width: 100%;
        margin: 100px;
        padding: 5px;
        box-sizing: border-box;
    }
    .accordion-body strong {
        display: block;
        font-weight: bold;
        margin-right: 0px; /* Añade un espacio entre los elementos 'strong' */
    }
    .accordion-collapse {
        max-height: 690px; /* Ajusta la altura máxima del acordeón según tus necesidades */
        overflow: auto;
    }
    #collapseTwo,
    #collapseThree,
    #collapsefour,
    #collapsefive {
    overflow: hidden;
}
    
    /* Estilo para el párrafo dentro del acordeón */
    .accordion-item .accordion-body p {
       
        text-align: justify;
        max-width: 100%; /* Ajusta el ancho máximo del texto al 50% del contenedor */
        margin: 0; /* Elimina el margen predeterminado del párrafo */
    }
    
    .accordion-item {
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 20px; /* Añadí un margen inferior para separar los acordeones */
        
    }
    
    .accordion-body {
        padding: 10px; /* Ajuste de relleno para el contenido del acordeón */
    }
    
    .accordion-body strong {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .accordion-collapse {
        max-height: 400px;
        overflow: auto;
    }
    
    
    
    #collapsefive .col-md-12 strong {
     margin-right: 50px; /* Añade un espacio entre cada strong */
    }
    
    #collapseOne {
        overflow: auto; /* Agrega barras de desplazamiento si el contenido es demasiado grande */
        overflow-x: hidden;
        max-height: 300px; /* Establece una altura máxima para el contenedor, ajusta según sea necesario */
    }
    #collapseTwo .accordion-body {
        overflow: auto; /* Agrega barras de desplazamiento si el contenido es demasiado grande */
        overflow-x: hidden;
        max-height: 300px; /* Establece una altura máxima para el contenedor, ajusta según sea necesario */
    }
    
    #collapseThree .accordion-body {
        overflow: auto; /* Agrega barras de desplazamiento si el contenido es demasiado grande */
        overflow-x: hidden;
        max-height: 300px; /* Establece una altura máxima para el contenedor, ajusta según sea necesario */
    
    }
    
    #collapsefour .accordion-body {
        overflow: auto; /* Agrega barras de desplazamiento si el contenido es demasiado grande */
        overflow-x: hidden;
        max-height: 300px; /* Establece una altura máxima para el contenedor, ajusta según sea necesario */
    }
    
    #collapsefive .accordion-body {
        overflow: auto; /* Agrega barras de desplazamiento si el contenido es demasiado grande */
        overflow-x: hidden;
        max-height: 300px; /* Establece una altura máxima para el contenedor, ajusta según sea necesario */
    }
    
    .circle-container {
        width: 730px;
        /* Ajusta el ancho del contenedor */
        height: 730px;
        /* Ajusta la altura del contenedor */
        border-radius: 50%;
        /* Hace que el contenedor sea un círculo */
        text-align: center;
        /* Centra el contenido horizontalmente */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../imagenes/fondo.gif);
        /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta o URL de tu imagen de fondo */
        background-size: cover;
        /* Ajusta el tamaño de la imagen para cubrir todo el círculo */
        background-position: center;
        /* Centra la imagen en el círculo */
    }
    
    
    
    
    /* Estilos para las imágenes dentro del contenedor circular */
    .circle-container .img-area img {
        max-width: 100%;
        /* Ajusta el ancho máximo de la imagen */
        max-height: 100%;
        /* Permite que la imagen mantenga su relación de aspecto */
    }
    
    /* Estilos para el texto dentro del contenedor circular */
    .circle-container h3,
    .circle-container p {
        color: #ffff;
        /* Cambia el color de los textos a negro */
        text-align: justify;
        /* Centra el texto horizontalmente */
        max-width: 80%;
        /* Ajusta el ancho máximo del texto */
        margin: 0;
        /* Elimina cualquier margen para que el texto esté más cerca del borde del círculo */
    }
    
    /*footer */
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }
    
    /*Pie de Pagina*/
    .pie-pagina {
        width: 100%;
        background-color: #0a141d;
    }
    
    /* Estilos para el primer grupo de elementos en el pie de página */
    .pie-pagina .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
    
    .pie-pagina .grupo-1 .box figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .pie-pagina .grupo-1 .box figure img {
        width: 250px;
    }
    
    .pie-pagina .grupo-1 .box h2 {
        color: #fff;
        margin-bottom: 25px;
        font-size: 25px;
    }
    
    .pie-pagina .grupo-1 .box p {
        color: #efefef;
        margin-bottom: 30px;
    }
    
    /* Estilos para el segundo grupo de elementos en el pie de página */
    .pie-pagina .grupo-2 {
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }
    
    .pie-pagina .grupo-2 small {
        font-size: 15px;
    }
    
    /* Estilos responsivos para dispositivos con ancho máximo de 800px */
    @media screen and (max-width:800px) {
        .pie-pagina .grupo-1 {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        }
    }